/* normalaiz */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    /* min-width: 100%; */
    height: auto;
}

a, a:link, a:visited, a:hover {
    text-decoration: none;
}

button,
input[type='submit'] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}


body {
    background: #424245;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}

/* header */

header {
    border-bottom: 1px solid white;
}

.game-header {
    padding: 15px 25px;
    margin-top: 25px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1078px;
    width: 100%;
}

.game-home,
.game-wallet {
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 50px;
    background-color: #39280f;
    padding: 0 10px;
    max-width: 200px;
    width: 100%;
    height: 30px;
    user-select: none;
    transition: all 0.3s ease-in;
    color: white;
}

.game-link {
    color: #424245;
}

.game-home:hover {
    background-color: burlywood;
    transition: all 0.3s ease-in;
}


.wallet {
    padding: 0px 10px 0px 0px;
}

.wallet-honeycomb {
    margin-left: 10px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.balance {
    font-weight: 500;
}


.x2 {
    display: none;
    margin-left: 7px;
    font-size: 10px;
    border: 1px solid green;
    border-radius: 50%;
    padding: 3px;
}

.x2.activeX2 {
    display: block;
}


.game-title {
    color: bisque;
    font-size: 26px;
}

/* help */

.main-wrapper {
    display: flex;
    max-width: 1178px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.help, .help-mobile {
    background-color: burlywood;
    width: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    cursor: pointer;
}

.help-mobile {
    position: absolute;
    display: none;
}

.activeCard {
    transition: all 0.5s;
    box-shadow: 0px 10px 10px green;
}

.game-box {
    width: 100%;
    height: 70px;
    position: relative;
    background-color: cadetblue;
    border-radius: 10px;
    transition: all 0.5s;
    box-shadow: 0px .1px 3px .1px rgba(0, 0, 0, 0.5);
    transform: scale(1);
}

.game-box:hover {
    transition: all 0.5s;
    box-shadow: 0px .1px 3px .1px rgba(0, 0, 0, 1);
    transform: scale(1.05);
}

.game-box:not(:last-child) {
    margin-bottom: 15px;
}

.game-placeholder {    
    color: rgba(15, 5, 5, 0.63);
}

.game-multiplierX2 {
    color: rgba(15, 5, 5, 0.63);
    background: linear-gradient(62deg, #0d8f2e, #88f57e, #23A6D5, #23D5AB);
    animation: gradient 15s ease infinite; 
    background-size: 400% 400%;
    user-select: none;
}

.game-multiplierX2-text {
    font-size: 22px;
    user-select: none;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

@-webkit-keyframes gradient{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes gradient{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.game-price {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-weight: 600;
    z-index: 10;
    width: 100%;
    font-size: 18px;
    padding: 2px 0px;
    background-color: burlywood;
    border-radius: 0px 0 10px 10px;
    cursor: pointer;
}

.game-price,
.game-img {
    user-select: none;
    pointer-events: none;
}

.game-img {
    border-radius: 10px;
}


/* double cards */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-wrapper {
    margin: 20px 10px 0 10px;
    position: relative;
}

.game-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.game-cards.activeBoxCards {
    display: grid;;
}
.game-cards.hidden {
    display: none;
}

.card {
    width: 100px;
    height: 150px;
    perspective: 1000px;
    cursor: pointer;
}

.card.shake {
    animation: shake 0.4s ease-in-out;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-13px);
    }
    40% {
        transform: translateX(13px);
    }
    60% {
        transform: translateX(-8px);
    }
    80% {
        transform: translateX(8);
    }
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 148px;
    border-radius: 10px;
    box-shadow: 0.3px 0.3px 0.3px 0.3px rgba(0, 0, 0, 0.1);
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s linear;
    border: 1px outset white;
    border-radius: 10px;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 50px;
    color: white;
    box-shadow: 0.02em 0.02em 0.02em 0.02em rgba(0, 0, 0, 0.1);
}

.card-front {
    transition: background-color .6s ease;
    background: url('img/frontCard-img/bgSota-2.png');
}

.card-front > img {
    border-radius: 10px;
}

.card-front:hover {
    background-color: green;
}

.card.visible .card-inner{
    transform: rotateY(-180deg);
}

.card-back {
    transform: rotateY(-180deg);
    background-color: #f1c030;
}


/* text  */

.game-text {
    color: aliceblue;
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.count.null {
    color: red;
}


/* arrows */

.game-arrows {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    position: relative;
    width: 100%;
}

.game-shadow.activeShadow{
    display: block;
    background-color: rgb(66, 66, 69, .7);
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.game-shadow {
    display: none;
}

.game-arrow {
    transition: all 0.5s ease;
    border: 2px outset white;
    background-color: blanchedalmond;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    width: 100px;
}

.arrow-next:hover  {
    background-color: burlywood;
}

.arrow-next::after {
    content: '→';
    font-size: 24px;
    vertical-align: middle;
}

.arrow-prev::after {
    content: '←';
    font-size: 24px;
    vertical-align: middle;
}



/* home */

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    min-height: 100vh;
    border-radius: 50px;
    max-width: 500px;
    height: 500px;
    width: 100%;
    margin: 0 auto;
}

.game-new,
.game-continue,
.game-other-games,
.game-schop {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 95, 26);
    cursor: pointer;
    border-radius: 50px;
    margin-top: 15px;
    border: 2px outset green;
    transition: all 1s ease;
}

.game-new:hover,
.game-continue:hover,
.game-other-games:hover,
.game-schop:hover {
    border: 2px inset green;
}

.game-other-games {
    position: relative;
}

.game-other-games {
    z-index: -1;
    border: none;
    cursor: default;
}

.game-other-games:hover {
    border: none;
    cursor: default;
}

.shadow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

.home-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-title {
    color: white;
    margin-bottom: 20px;
}

.home-wallet {
    border: 2px outset green;
    background-color: rgb(26, 95, 26);
    color: white;
    width: 130px;
    justify-content: space-between;

}

.link {
    color: white;
    width: 100%;
    height: 100%;
    display: block;
    align-content: center;
    text-align: center;
}




/* grid box */
/* .up-test {
    height: 200px;
    width: 1000px;
    grid-area: up;
}
.left-test {
    height: 600px;
    grid-area: left;

}
.content-test {
    grid-area: content;
    height: 600px;

}  
.container-test {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "up up up" "left content content" "left content content";
    align-items: center;
    justify-content: center;

}
 

.test {
    border: 1px solid white;
} */

.game-schop button{
    color: white;
    width: 100%;
    height: 100%;
    font-size: inherit;
}

.modal-schop {
    display: none;
}

.modal-schop.active {
    display: block;
    background-color: white;
    width: 700px;
    max-height: 720px;
    min-height: 530px;
    position: absolute;
    top: calc(50% - 350px);
    left: calc(50% - 350px);
    border: 5px double green;
    border-radius: 15px;
    overflow: auto;
}

.modal-header {
    display:grid;
    align-items: center;
    grid-template-columns: auto 1fr 40px;
    padding: 0 10px;
    height: 50px;
    border-bottom: 3px double green;
}

.modal-wallet {
    height: 40px;
    border-radius: 10px;
    padding: 0px 10px;
}

.modal-title {
    font-size: 24px;
    text-align: center;
    color: #424245;
}

.close,
.modal-box__close {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    border-left: 3px double green;
}

.modal-box__close {
    border: none;
}



.close::after,
.modal-box__close::after,
.close::before,
.modal-box__close::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    left: calc(50% - 15px);
    top: calc(50% - 1.5px);
    background-color: orangered;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

.modal-box__close::after,
.modal-box__close::before {
    background-color: #424245;
}

/* #39280f */

.close::after,
.modal-box__close::after {
    transform: rotate(45deg) scale(1);
}

.close::before,
.modal-box__close::before {
    transform: rotate(135deg) scale(1);
}

.close:hover::after,
.modal-box__close:hover::after {
    transform: rotate(225deg) scale(1.15);
}

.close:hover::before,
.modal-box__close:hover::before {
    transform: rotate(315deg) scale(1.15);
}

.modal-catalog {
    display: grid;
    grid-template-areas: "filter filter filter" "games cards cards" "games cards cards";
}
.modal-cards {
    grid-area: cards;
    border-left: 3px double green;
    overflow: scroll;
    height: 510px;
    overflow-x: hidden;
}
.modal-cards::-webkit-scrollbar {
    display: none;
}
.modal-gameEins {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 15px 15px;
}
.modal-card {
    max-width: 120px;
    width: 100%;
    border: 1px solid green;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    border-radius: 10px;
}

.modal-card.activeModalCard {
    display: grid;
}

.modal-card.none {
    display: none;
}
.noneItem {
    display: none;
}

.modal-card.activeGame {
    display: grid;
}

.card-title {
    border-bottom: 1px solid green;
    text-align: center;
    padding: 5px;
    background-color: #0d8f2e;
    color: white;
    border-radius: 8px 8px 0px 0px;
}

.modal-preview-img img{
    object-fit: cover;
    width: 100px;
    height: 150px;
}


.modal-btn {
    position: relative;
}

.modal-price {
    border-top: 1px solid green;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    background-color: #0d8f2e;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
    border-radius: 0 0 8px 8px;
}

.modal-shadow.activeShadow{
    display: block;
    background-color: rgb(66, 66, 69, .7);
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    color: green;
    border-radius: 0 0 8px 8px;
}

.modal-price:hover {
    background: transparent;
    color: green;
}

.modal-filter {
    grid-area: filter;
    border-bottom: 3px double green;
}
.filter {
    padding: 5px;
}
.filter-items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}
.filter-item {
    padding: 5px 0px;
    border: 1px solid green;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 10px;
}
.filter-item.activeFilter {
    background-color: #0d8f2e;
    color: white;
    border: 1px solid #0d8f2e;
}
.filter-item:hover {
    display: block;
    transform: scale(1,1);
    background-color: #0d8f2e;
    color: white;
    border: 1px solid #0d8f2e;
}
.modal-games {
    grid-area: games;
    height: 220px;
}
.modal-items {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    padding: 5px;
    
}
.modal-game {
    border: 1px solid green;
    padding: 5px;
    cursor: pointer;
    transition: all 0.7s ease;
    border-radius: 10px;
}

.modal-game:hover {
    background-color: #0d8f2e;
    color: white;
}

.modal-game.activeGame {
    background-color: #0d8f2e;
    color: white;
}

.modal-gameEins,
.modal-gameZwei,
.modal-gameDrei,
.modal-gameVier,
.modal-gameFunf {
}


/* album */

.album, .album-mobile {
    width: 100px;
    height: 100px;
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.album-wrapper {
    width: 100%;
    height: 70px;
    position: relative;
    border-radius: 10px;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
    box-shadow: 0px .1px 3px .1px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    display: flex;
    justify-content: center;
}

.album-wrapper:hover {
    box-shadow: 0px .1px 3px .1px rgba(0, 0, 0, 1);
    transform: scale(1.05);
}

.album-wrapper > img {
    min-width: 0;
}

/* modal album */

.modal-album,
.modal-box__imgs {
    display: none;
}

.modal-album.activeAlbum,
.modal-box__imgs.activeBoxImgs {
    display: block;
    max-width: 600px;
    width: 100%;
    background-color: rgb(66, 66, 69);
    max-height: 720px;
    min-height: 530px;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
    border: 2px groove white;
    border-radius: 15px;
    padding: 20px;
    z-index: 3;
}

.modal-box__imgs.activeBoxImgs {
    padding: 0px;
}

.modal-box__header {
    display: flex;
    justify-content: end;
    background-color: white;
    border-radius: 14px 14px 0 0;
    margin-bottom: 15px;
    box-shadow: 0px 2px 10px;
}

.modal-album__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
}

.modal-album__pocket {
    position: relative;
    max-width: 100px;
    width: 100%;
    height: 150px;
    border: 1px solid rgb(87, 87, 87,0.8);
    border-radius: 10px;

}

.modal-pocket__preview {
    transition: transform 0.5s ease;
}

.modal-pocket__preview:hover {
    cursor: pointer;
    transform:  translateY(-12px);
}

.modal-pocket__preview-img {
    max-width: inherit;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.modal-pocket {
    position: absolute;
    bottom: 0;
    width: inherit;
    max-height: 75px;
    height: 100%;
    background-color: rgba(87, 87, 87, 0.7); 
    border-radius: 0 0 10px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* #575757 #39280f */

.modal-pocket__btn {
    width: 100%;
    height: auto;
    text-align: center;
    color: rgb(0, 0, 0, 0.8);
    border: 1px solid rgb(87, 87, 87, 0.8);
    background-color: rgb(202, 201, 201);
    border-radius: 0 0 10px 10px;
    padding: 5px;
    cursor: pointer;
    z-index: 4;
    transition: all 0.5s ease;
}

.modal-pocket__text {
    color: wheat;
    padding-top: 10px;
}

.modal-pocket__btn:hover {
    color: rgb(255, 255, 255, 0.8);
    background-color: #424245;
    border: 1px solid rgb(87, 87, 87, 0.8);
}

.modal-pocket__btn.activeBtn {
    color: rgb(255, 255, 255, 0.8);
    background-color: #424245;
    border: 1px solid rgb(87, 87, 87, 0.8);
}

.modal-pocket::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: inherit;
    height: inherit;
    box-shadow: 0px -4px 4px #0000008e;
}


.modal-box__img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-items: center;
    overflow: auto;
    margin: 0 15px 15px;
}

.shadowHint {
    display: block;
    background-color: rgb(66, 66, 69, .7);
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}



@media (max-width: 378px) {

    body {
        display: block;
    }

    .game-header {
    }

    .game-text {
        margin-bottom: 20px;
    }

    .game-wrapper {
        margin: 0px 0px 50px 0;
    }

    .help, .album {
        display: none;
    }

    .help-mobile {
        display: none;
        flex-direction: row;
        justify-content: space-evenly;
        width: 300px;
        bottom: 0;
        padding: 5px;
    }

    .help-mobile > .game-multiplierX2,
    .help-mobile > .game-placeholder{
        margin: 0;
    }

    .game-box {
        width: 70px;
    }

    .album-mobile {
        padding: 0;
        width: 70px;
        height: 70px;
    }

    .game-cards {
        gap: 8px;
    }

    .game-cards::after {
        content: '';
        grid-column: 1 / -1;
    }

    .game-cards > .card {
        width: 45px;
        height: 65px;
    }

    .game-cards > .card .card-img {
        height: 63px;
    }

    /* Шапка */

    .game-title {
        display: none;
    }

    .game-home, .game-wallet {
        max-width: 120px;
        border-radius: 10px;
    }

    .game-home {
        width: 60px;
        justify-content: center;
    }

    .game-home h2{
        display: none;
        font-size: 14px;
        width: 150px;
        padding-left: 10px;
    }
    .game-home::before {
        content: '⇐';
        font-size: 24px;
        vertical-align: middle;
    }

    /* Карточки */

    .card {
        width: 50px;
        height: 75px;
    }

    .card-inner {
        border-radius: 5px;
    }

    .card-front {
        border-radius: 5px;
        background: url('img/frontCard-img/bgSota-mobile.png');
    }

    .card-back {
        border-radius: 5px;
    }

    .card-img {
        height: 75px;
        border-radius: 5px;
    }
}